body {
    background-color: rgb(73, 89, 109);
    color: red;
}

#body {
    display: block;
    margin: 0 auto;
    padding: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}